<?xml version="1.0"?>
<robot name="uuv">

  <gazebo>
    <static>false</static>
    <plugin filename="libSubmarineDynamics.so" name="SubmarineDynamics">
      </plugin>
  </gazebo>
  <link name="world_link"/>

  <joint name="world_fixed" type="fixed">
    <parent link="world_link"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="base_link">
    <inertial>
      <mass value="20.0"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>

  <link name="uuv_link">
    <visual>
      <origin rpy="1.57 0.0 1.57" xyz="-2.0 -0.3 0.0"/>
      <geometry>
        <mesh filename="package://uuv_visualization/meshes/UUV_binary.stl" scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="Cyan">
        <color rgba="0 1.0 1.0 1.0"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1.0 0.5 0.5"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.1"/> <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
  </link>

  <link name="camera_link">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="-0.65 0.1 -0.17"/>
      <geometry>
        <box size="0.05 0.05 0.05"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <inertial>
      <mass value="0.1"/>
      <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
    </inertial>
  </link>

  <joint name="base_to_uuv" type="fixed">
    <parent link="base_link"/>
    <child link="uuv_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <joint name="uuv_to_camera" type="fixed">
    <parent link="uuv_link"/>
    <child link="camera_link"/>
    <origin xyz="1.0 0 0.5" rpy="0 0 0"/> 
  </joint>

  <gazebo reference="base_link">
    <kinematic>true</kinematic>
    <gravity>0</gravity>
  </gazebo>

  <gazebo reference="camera_link">
    <sensor name="zed2_camera_left" type="camera">
      <pose>0 0 0 0 0 0</pose>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>
      <topic>camera/left</topic>
      <camera>
        <horizontal_fov>1.92</horizontal_fov>
        <image>
          <width>1920</width>
          <height>1080</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo reference="camera_link">
    <sensor name="zed2_camera_right" type="camera">
      <pose>0 0.1 0 0 0 0</pose>
      <always_on>1</always_on>
      <update_rate>30</update_rate>
      <visualize>true</visualize>
      <topic>camera/right</topic>
      <camera>
        <horizontal_fov>1.92</horizontal_fov>
        <distortion>
          <k1>-0.15</k1>
          <k2>0.01</k2>
          <center>0.5 0.5</center>
        </distortion>
        <image>
          <width>1920</width>
          <height>1080</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.1</near>
          <far>100</far>
        </clip>
      </camera>
    </sensor>
  </gazebo>

  <gazebo>
    <plugin
        filename="ignition-gazebo-pose-publisher-system"
        name="ignition::gazebo::systems::PosePublisher">
        <publish_link_pose>false</publish_link_pose>
        <publish_model_pose>true</publish_model_pose> <publish_nested_model_pose>false</publish_nested_model_pose>
        <use_pose_vector_msg>false</use_pose_vector_msg>
        <update_frequency>50</update_frequency> 
    </plugin>
  </gazebo>

</robot>